.App {
  overflow: auto;
  background-color: var(--body-bg-light);
  color: var(--body-color-light);
  transition: background-color 0.5s, color 0.5s;
  width: 100%;
  padding: 0!important;
}

.App.dark {
  background-color: var(--body-bg-dark);
  color: var(--body-color-dark);
}

.dark-modal {
  background-color: #212529!important; /* Фон модалі */
  color: #ADB5BDFF!important; /* Колір тексту */
}


